<div class="container">
    <h2>Upload an extension</h2>
    {{#if user}}
        <form id="uploadForm" action="/upload" class="dropzone" method="post" enctype="multipart/form-data">
            <div class="fallback">
                <input type="file" name="extensionPackage" size="40">
                <button class="btn" type="submit">Upload</button>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
            </div>
        </form>
    {{else}}
        <p>To upload an extension, <a href="/auth/github">sign in via GitHub</a>.</p>
    {{/if}}
    {{#if helpURL}}
        <p>Have questions about using the registry? Take a look at the <a href="{{helpURL}}">Help page</a>.</p>
    {{/if}}
    </div>

<div class="container">
    <h2>Browse extensions</h2>
    <div class="extension-list">
        {{> registryList}}
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/dropzone.js"></script>
<script src="/js/main.js"></script>
