<div class="container">
    <h2>Upload an extension</h2>
    {{#if user}}
        <form id="uploadForm" action="/upload" class="dropzone" method="post" enctype="multipart/form-data">
            <div class="fallback">
                <input type="file" name="extensionPackage" size="40">
                <button class="btn" type="submit">Upload</button>
            </div>
        </form>
    {{else}}
        <p>To upload an extension, <a href="/auth/github">sign in via GitHub</a>.</p>
    {{/if}}
    </div>

<div class="container">
    <h2>Browse extensions</h2>
    <div class="extension-list">
        {{> registryList}}
    </div>
</div>
