{{#if registry.length}}
<p>To install an extension, right-click on the link and choose "Copy Link", then paste it into 
    the <strong>File &gt; Install Extension...</strong> dialog in Brackets.</p>
<table class="table">
    <tr>
        <th class="ext-name">Extension</th>
        <th class="ext-desc">Description</th>
    </tr>
    {{#each registry}}
        <tr>
            <td>
                <a href="{{../repositoryBaseURL}}/{{metadata.name}}/{{metadata.name}}-{{metadata.version}}.zip">
                    {{#if metadata.title}}{{metadata.title}}{{else}}{{metadata.name}}{{/if}}</a>
                <span class="muted ext-version">{{metadata.version}}</span><br/>
                <span class="muted ext-author">
                    by 
                    {{#if metadata.author.name}}
                        {{metadata.author.name}} /
                    {{/if}}
                    <a href="{{ownerLink}}">{{formatUserId}}</a>
                </span>
                <span class="muted ext-date">on {{lastVersionDate}}</span>
            </td>
            <td>
                {{#if metadata.description}}
                    {{metadata.description}}
                {{else}}
                    <span class="muted"><em>No description</em></span>
                {{/if}}
                {{#if metadata.keywords.length}}
                    <br/>
                    <span class="ext-keywords">Keywords:
                    {{#each metadata.keywords}}
                        {{.}}
                    {{/each}}
                    </span>
                {{/if}}
            </td>
        </tr>
    {{/each}}
</table>
{{else}}
<p class="muted"><em>No extensions yet</em></p>
{{/if}}
