{{#if registry.length}}
<table class="table">
    <tr>
        <th class="ext-name">Extension</th>
        <th class="ext-desc">Description</th>
        <th class="ext-date">Published</th>
    </tr>
    {{#each registry}}
        <tr>
            {{#with metadata}}
            <td>
                <a href="https://s3.amazonaws.com/repository.brackets.io/{{name}}/{{name}}-{{version}}.zip">
                    {{#if title}}{{title}}{{else}}{{name}}{{/if}}
                    <span class="muted ext-version">{{version}}</span>
                </a>
            </td>
            <td>{{#if description}}{{description}}{{else}}<span class="muted"><em>No description</em></span>{{/if}}</td>
            {{/with}}
            <td>{{lastVersionDate this}}</td>
        </tr>
    {{/each}}
</table>
{{else}}
<p class="muted"><em>No extensions yet</em></p>
{{/if}}
