/* Based on code from https://github.com/enyo/dropzone. See https://github.com/enyo/dropzone/blob/master/readme.md for license information. */
/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
  width: 400px;
  min-height: 200px;
  text-align: center;
}
.dropzone.clickable {
  cursor: pointer;
}
.dropzone.clickable .message, .dropzone.clickable .message span {
  cursor: pointer;
}
.dropzone.clickable * {
  cursor: default;
}
.dropzone .message {
  font-style: italic;
  color: #666;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone.drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.dropzone.started .message {
  display: none;
}
.dropzone .preview,
.dropzone-previews .preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: block;
  margin: 16px;
  padding: 8px;
  border: 1px solid #acacac;
  text-align: left;
}
.dropzone .preview .details .filename,
.dropzone-previews .preview .details .filename {
  float: left;
}
.dropzone .preview .details img,
.dropzone-previews .preview .details img {
  display: none;
}
.dropzone .preview .details .size,
.dropzone-previews .preview .details .size {
  float: right;
}
.dropzone .preview.error .error-mark,
.dropzone-previews .preview.error .error-mark {
  display: block;
}
.dropzone .preview.success .success-mark,
.dropzone-previews .preview.success .success-mark {
  display: block;
}
.dropzone .preview .success-mark,
.dropzone-previews .preview .success-mark,
.dropzone .preview .error-mark,
.dropzone-previews .preview .error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.dropzone .preview .success-mark,
.dropzone-previews .preview .success-mark {
  color: #8cc657;
}
.dropzone .preview .error-mark,
.dropzone-previews .preview .error-mark {
  color: #ee162d;
}
.dropzone .preview .progress,
.dropzone-previews .preview .progress {
  clear: both;
  background: #d7d7d7;
  display: none;
  
  /* Bootstrap seems to define the same style, so we need to override some values here. */
  height: 15px;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 0;
}
.dropzone .preview .progress .upload,
.dropzone-previews .preview .progress .upload {
  display: block;
  width: 0%;
  height: 100%;
  background-color: #8cc657;
}
.dropzone .preview.processing .progress,
.dropzone-previews .preview.processing .progress {
  display: inline-block;
  width: 100%;
}
.dropzone .preview.error .progress .upload,
.dropzone-previews .preview.error .progress .upload {
  background-color: #f00;
}
.dropzone .preview .error-message,
.dropzone-previews .preview .error-message {
  clear: both;
  display: none;
}
.dropzone .preview.error .error-message,
.dropzone-previews .preview.error .error-message {
  display: block;
}
.dropzone .preview .success-message,
.dropzone-previews .preview .success-message {
  clear: both;
  display: none;
}
.dropzone .preview.success .success-message,
.dropzone-previews .preview.success .success-message {
  display: block;
}