body {
    padding-top: 70px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.logo {
    margin: -2px 8px 0 0;
}

.extension-list .ext-desc {
    width: 70%;
}
.extension-list .ext-version,
.extension-list .ext-date,
.extension-list .ext-author, 
.extension-list .ext-homepage{
    font-size: 0.8em;
}

.admin {
    clear: both;
    display: block;
}
